<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name="sembako.sayunara.android.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">


        <activity
            android:name="sembako.sayunara.android.ui.component.product.editProduct.PostProductActivity"
            android:label="Tambah Produk"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.user.ListUserActivity"
            android:label="List User"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.apk.ApkDetailActivity"
            android:label="Detail APK"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.user.TabHostUserActivity"
            android:label="List User"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.user.UserDetailActivity"
            android:label="Detail User"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.apk.ApkListActivity"
            android:label="Apk Sayunara"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.notification.PushNotificationActivity"
            android:label="Push Notifikasi"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="sembako.sayunara.transaction.ListTransactionAdminActivity"
            android:label="List Transaction"
            android:windowSoftInputMode="stateHidden|adjustPan"/>


    </application>



</manifest>